.sidebar {
  width: 280px;
  height: 100vh;

  background: linear-gradient(
    180deg,
    #2563eb,
    #1d4ed8
  );

  display: flex;
  flex-direction: column;

  color: white;

  position: sticky;
  top: 0;
}


.sidebar-header {
  padding: 30px 20px;
  text-align: center;

  border-bottom: 1px solid rgba(255,255,255,.15);
}

.profile-circle {
  width: 90px;
  height: 90px;

  margin: auto;

  border-radius: 50%;

  background: white;
  color: #2563eb;

  font-size: 36px;
  font-weight: 700;

  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar-header h5 {
  margin-top: 16px;
  font-size: 24px;
  font-weight: 600;
}

.menu-list {
  padding: 20px 15px;
  flex: 1;
}

.menu-list a {
  display: flex;
  align-items: center;
  gap: 14px;

  padding: 16px 20px;
  margin-bottom: 10px;

  text-decoration: none;

  color: white;

  border-radius: 16px;

  font-size: 17px;
  font-weight: 500;

  transition: .3s;
}

.menu-list a:hover {
  background: rgba(255,255,255,.15);
}

.menu-list a.active {
  background: white;
  color: #2563eb;
  font-weight: 700;
}

.logout-section {
  padding: 20px;
  border-top: 1px solid rgba(255,255,255,.15);
}

.logout-btn {
  width: 100%;

  border: none;

  padding: 16px;

  border-radius: 16px;

  background: #ef4444;
  color: white;

  font-size: 16px;
  font-weight: 600;

  transition: .3s;
}

.logout-btn:hover {
  background: #dc2626;
}